<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{oneDog.name}}</mat-card-title>
      <mat-card-subtitle>{{oneDog.breed}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{img.message}} alt="generic dog silhouette .png">
    <mat-card-content>
      <p>
        The {{oneDog.breed}} is really cool! {{oneDog.name}}'s unique identifier is {{oneDog.id}} for no other purpose than to use the data which is fetched and returned from my DoggyService LOL haha hehe. 
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="edit()" mat-button>Edit {{oneDog.name}}</button>
      <button (click)="delete()" mat-button>Delete</button>
    </mat-card-actions>
  </mat-card>