<div class="home">

    <section class="logo">
        <h1>Doggy Dashboard</h1>
        <h2>Established in 2022</h2>
        <img src="https://logopond.com/logos/c232c30f647acc26fa9216b0097a86c8.png" alt="random pic of a dog">
    </section>

    <section class="about">
        <h3>What is Doggy Dashboard?</h3>
        <p>Doggy Dashboard serves no real purpose, and it's functionality is a bit lack-luster in nature. However, it can be fun to add and remove dogs visually for absolutely no other reason aside from the visuals of it. This Dashboard serves to demonstrate the integration of a RESTful Dog API created and an angular front-end.</p>
        <a href="/dashboard">let's see!</a>
    </section>

</div>
