<section class="login-container">

    <h2>login to see your dashboard!</h2>
    <p *ngIf="error" color="accent">{{error}}</p>

    <form [formGroup]="loginForm" class="login-form">

        <mat-form-field appearance="outline">
            <input matInput 
                   type="username" 
                   placeholder="enter username" 
                   formControlName="username"
            >
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput 
                   type="password" 
                   placeholder="enter password" 
                   formControlName="password"
            >
        </mat-form-field>
    
        <button mat-raised-button color="accent" [disabled]="loginForm.invalid" (click)="login()">submit</button>
    
    </form>

</section>
