<div class="doggy-container">
    <form class="hidden-elements" [formGroup]="editDogForm" (ngSubmit)="edit()">
        <mat-form-field appearance="fill" class="m-4">
            <input matInput type="text" placeholder="ID" formControlName="id">
            <mat-label>add ID</mat-label>
            <mat-hint>unique identifier</mat-hint>
        </mat-form-field>
    
        <mat-form-field appearance="fill" class="m-4">
            <input matInput type="text" placeholder="Breed" formControlName="breed">
            <mat-label>add breed</mat-label>
            <mat-hint>type of dog</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill" class="m-4">
            <input matInput type="text" placeholder="Name" formControlName="name">
            <mat-label>add Name</mat-label>
            <mat-hint>dog's name</mat-hint>
        </mat-form-field>
      
    
        <button mat-raised-button color="accent" [disabled]="editDogForm.invalid">done</button>
    </form>
</div>
