.input-panel{
    display: flex !important;
    flex-direction: column !important;
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
    margin-bottom: 1em;
}

.hidden-elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hidden-elements button{
    margin-top: 5px;
}

.dog-container{
    display: flex;
    flex-direction: row;
    /* width: auto; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 15px;
}